@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&display=swap");

:root {
  --white-text: #e0e0e0;
  --black-text: #303030;
  --orange-accent: #ffa500;
  --light-grey: #595959;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol,
li,
a {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}
img {
  display: block;
}
button {
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Ysabeau SC", sans-serif;
  font-weight: 400;
  color: var(--white-text);
  letter-spacing: 2px;
}
.container {
  max-width: 100%;
  margin: 0 auto;
}

/*ХЕДДЕР*/
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
  width: 100%;
  z-index: 100;
  background-color: black;
}
.logo {
  display: inline-block;
}
/*меню в хеддері*/
.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  padding: 0 30px;
}
.header-menu-item {
  font-size: 11px;
  text-transform: uppercase;
  color: var(--white-text);
  font-weight: 600;
  padding: 5px;
}
.header-menu-item:hover {
  color: var(--orange-accent);
  font-weight: 600;
  transform: scale(1.1);
  transition: transform 250ms ease-in-out 0s;
}

/*HERO SECTION */
.hero {
  background-image: url(./assets/background_test_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.video-bg {
  position: absolute;
  width: 100vw;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.hero-moto {
  font-size: 26px;
  font-family: "Caveat", cursive;
  opacity: 0;
  animation: ani 6s forwards;
}
.hero-sign {
  font-size: 12px;
  font-family: "Ysabeau SC", sans-serif;
  margin-top: 10px;
  padding-left: 330px;
  opacity: 0;
  animation: ani 6s forwards;
}

.hero-titile {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-left: 900px;
  height: 100vh;
  color: var(--orange-accent);
  text-transform: uppercase;
  text-shadow: 1px 0 1px var(--black-text), 0 1px 1px var(--black-text),
    -1px 0 1px var(--black-text), 0 -1px 1px var(--black-text);
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*ПРО НАС*/
.about-us {
  background-image: url(./assets/photo1703054598.jpeg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.vert-line {
  background-color: var(--orange-accent);
  width: 1px;
  height: 40px;
  margin-bottom: 40px;
}
.subtitle {
  color: var(--black-text);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-us-title {
  color: var(--black-text);
  margin-top: 10px;
  font-size: 50px;
}
.about-us-information {
  padding: 20px 300px;
  color: var(--light-grey);
  font-size: 14px;
  text-transform: none;
  text-align: justify;
}

/*PRACTICE*/
.practicies {
  padding: 60px 20px;
  background-color: rgb(247, 247, 247);
}
/* .practice-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: space-between;
  max-height: 470px;
} */

.development {
  background-image: url(./assets/low-angle-view-skyscrapers-2048x1367-black.jpg);
  height: 220px;
  width: 330px;
  text-align: center;
  justify-content: center;
  font-weight: 500;
}
.development:hover,
.development:focus {
  background-image: url(./assets/low-angle-view-skyscrapers-2048x1367.jpg);
}
.corporative {
  background-image: url(./assets/gettyimages-160473461-2048x2048_black.jpg);
  height: 220px;
  width: 330px;
}
.corporative:hover,
.corporative:focus {
  background-image: url(./assets/gettyimages-160473461-2048x2048.jpg);
}
.tax {
  background-image: url(./assets/gettyimages-1160414561-2048x2048-black.jpg);
  height: 220px;
  width: 330px;
}
.tax:hover,
.tax:focus {
  background-image: url(./assets/gettyimages-1160414561-2048x2048.jpg);
}
.it {
  background-image: url(./assets/gettyimages-551986589-2048x2048_black.jpg);
  height: 220px;
  width: 330px;
}
.it:hover,
.it:focus {
  background-image: url(./assets/gettyimages-551986589-2048x2048.jpg);
}

.card-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 65%;
  justify-content: justify;
}
.card-title {
  font-size: 18px;
  color: var(--light-grey);
  margin: 5px 0 10px 0;
  font-weight: 500;
}
.card-text {
  font-size: 14px;
  color: var(--light-grey);
  row-gap: 10px;
}
.card-text li {
  margin-top: 5px;
}
.close-icon {
  fill: black;
  width: 15px;
  height: 15px;
}
.button-close-development,
.button-close-corporative,
.button-close-tax,
.button-close-it {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  display: inline-block;
  color: black;
}

.button-close-development:hover,
.button-close-development:focus,
.button-close-corporative:hover,
.button-close-corporative:focus,
.button-close-tax:hover,
.button-close-tax:focus,
.button-close-it:hover,
.button-close-it:focus {
  color: var(--orange-accent);
}

.opened-practice-development,
.opened-practice-corporative,
.opened-practice-tax,
.opened-practice-it {
  display: flex;
  /* 
  flex-direction: column; */
  flex-wrap: nowrap;
  max-height: 470px;
  margin-top: 80px;
  padding: 50px 15px;
  background-color: rgb(247, 247, 247);
  gap: 25px;
  position: absolute;
  overflow: hidden;
  left: 0;
  transition: max-height 2s cubic-bezier(0.19, 1, 0.22, 1);

  /* 
  transition: max-height 400ms cubic-bezier(0.42, 0, 1, 1);
  transition: max-height 400ms ease, visibility 400ms ease, transform 400ms ease; */
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  max-height: 0px;
  transition: accordionOut 2s cubic-bezier(0.19, 1, 0.22, 1);
  /* transition: max-height 400ms cubic-bezier(0.42, 0, 1, 1);
  transition: max-height 400ms ease, visibility 400ms ease, transform 400ms ease; */
}

/* @keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
.cardText {
  padding: 5px 10px;
  max-width: 330px;
  margin: 0;
  padding: 0;
  font-weight: 500;
} */
/* .cardText:hover,
.cardText:focus {
} */
/*_________________________________-*/
.tab {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.tab-content {
  display: none;
}

.tab-content:target {
  position: absolute;
  top: 170px;
  right: 20px;
  overflow: hidden;
  background-color: transparent;
  color: black;
  max-height: 470px;
  padding: 50px 15px;
  background-color: rgb(247, 247, 247);
  display: block;
}

.tab-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  max-height: 470px;
  order: -1;
  margin-bottom: 1rem;
}

.tab-link {
  display: block;
  position: relative;
  padding: 0.5rem 1rem;
  color: #0d6efd;
  text-decoration: none;
  background: 0 0;
  border: 0;
  border-radius: 0.375rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

#development:target ~ .tab-nav > [href="#development"],
#corporative:target ~ .tab-nav > [href="#corporative"],
#tax:target ~ .tab-nav > [href="#tax"],
#it:target ~ .tab-nav > [href="#it"] {
  background-color: #0d6efd;
  color: #fff;
  cursor: default;
  display: block;
}
/*CAROUSEL*/
/* 
body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #ECEFFC;
} */

.carousel {
  margin-top: 20px;
  position: relative;
  display: flex;

  .slides {
    position: relative;
    top: 2.5em;
    left: auto;

    img {
      position: absolute;
      width: auto;
      height: 200px;
      opacity: 0;
      /* z-index: 99; */
      padding-left: 40px;

      &.active {
        opacity: 1;
      }
    }
  }

  .overlays {
    position: relative;
    width: 36em;
    height: 18em;

    .bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* background: rgb(247, 247, 247); */
      transform-origin: left;
      display: flex;
      align-content: center;
    }
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0 0 0 6em;
    list-style-type: none;

    .nav-link {
      font-size: 2rem;
      font-weight: 600;
      line-height: 2;
      text-decoration: none;
      color: var(--black-text);
      transition: 0.3s;

      &:hover {
        color: #1c1e1f;
      }

      &.active {
        color: black;
        pointer-events: none;
      }
    }
  }
}
.social-project-container {
  max-width: 100%;
  margin: 20px auto;
}
.social-project-title {
  color: var(--black-text);
  margin-top: 10px;
  font-size: 20px;
  font-family: inherit;
  font-weight: 500;
  padding: 20px 20px;
}

/*FOOTER*/
.footer-container {
  background-image: url(./assets/footer-bg.jpg);
  height: 295px;
  background-position: cover;
  background-size: contain;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.contact-block {
  padding-right: 200px;
}
.contact-block li {
  padding: 10px 0;
  font-size: 25px;
}
.contact-block li:hover {
  color: var(--orange-accent);
  filter: grayscale(0);
}
